astral
fastapi
google-cloud-storage
httpx         # For making async HTTP requests (e.g., test clients)
pytest        # For API testing
pytz
uvicorn
websockets    # For WebSocket testing and additional functionality
yt-dlp